.mainCotainer{
    width: fit-content;
    color: white;
    display: flex;
    margin: auto;
}

.ratingsImg {
    height: 15px;
    margin: 4px;
}

.ratingsLabel {
    margin-right: 4px;
}

.veryGood {
    background: rgb(7, 123, 7);
}

.good {
    background: rgb(62, 185, 62);
}
