.App {
  text-align: center;
  background: #9b9b9b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.AppNavbar {
  height: 50px;
  background: white;
}

.AppContentDiv {
  height: calc(100vh - 50px);
  overflow: scroll;
  overflow-x: hidden;
}

.ips {
  margin-left: 4px;
  width: 14ch;
}

.ipsLabel {
  margin-right: 12px;
}

.locations {
  margin-left: 24px;
}

.spinnerTop {
  margin-top: 100px;
}